<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @product.user.fname %> <%= @product.user.lname %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Min price:</strong>
  <%= @product.min_price %> $
</p>

<p>
  <strong>Bid amount:</strong>
  <%= @product.bid_amount %> $
</p>

<p>
  <strong>Current bid:</strong>
  <%= @product.current_bid %> $
</p>

<p>
  <strong>Ending:</strong>
  <%= @product.ending.strftime('%d/%m/%Y, %H:%M') %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
